# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

#    - name: Clone the projects
#      run: ./scripts/build_all_projects_locally.sh
    - name: Execute Gradle build with OTel
      run: ./gradlew build pTML -x test && ./gradlew acceptanceTest
